# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Python packaging
build/
dist/
*.egg-info/
.eggs/
__pypackages__/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
.envrc
.direnv/
.python-version

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
.hypothesis/
.tox/

# =========================
# Ruff / Black / MyPy
# =========================
.ruff_cache/
.mypy_cache/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# Database Files
# =========================
*.sqlite3
*.db

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.swp
*.swo

# =========================
# Qdrant
# =========================
qdrant_storage/

# =========================
# Redis
# =========================
dump.rdb

# =========================
# Misc
# =========================
.cache/
.uv/

# =========================
# Requirements
# =========================
requirements/dev.txt
